@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 150px
}
.container{
    width: 100%;
    height: 100%;
    background-color: #f3f5f8;
    min-height: 110vh;
}
.container2 {
    width: 100%;
    height: 100%;
    background-color: white;
    min-height: 110vh;
}
.imgt{
    width: 50%;
}

.divider {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border-top: 1px solid #bbb;
}

nav {
    background: linear-gradient(45deg,black, rgb(0, 59, 42));
    overflow: hidden;
    position:fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.navItems {
    display: flex;
}
.navItems li {
    list-style: none;
    margin: 0 15px;
}
.navItems li a {
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
}
.navItems li:hover a{
    color: #F6D155;
}
.div_stage h3
{
    width: 500px;
}
.div_stage{
    margin-top: 100px;
    width: 800px;
    display: flex;
    align-items: center;
    text-align: center;
    

}
.pres{
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
p{
    font-size: 25px;
}
h3{
    font-size: 25px;
}


.textgauche{
    font-size: 20px;
    margin-left: 50px;
}
.imagedroite{

    width: 800px;
    height: 400px;
    margin-left: 500px;
    margin-right: 300px;
}
.textdroite{
    font-size: 20px;
    text-align: end;

    
    margin-left: 300px;
    
    
}
.imagegauche{
    width: 1000px;
    height: 400px;
    margin-left: 60px ;
}
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.visible {
    opacity: 1;
}

.dividerstage {
    width: 10%;
    margin: 0 auto; /* Centre la ligne horizontalement */
    margin-top: 20px; /* Définir la marge supérieure ici */
    margin-bottom: 20px; /* Définir la marge inférieure ici */
    border-top: 5px solid rgb(72, 72, 180);
}
.image-group {
    display: flex; /* Utilise un layout flexible */
    flex-direction: column; /* Organise les images en colonnes */
    align-items: center; /* Centre les images horizontalement */
  }
  
.row {
    display: flex; /* Utilise un layout flexible */
    justify-content: center; /* Centre les images horizontalement */
    align-items: center; /* Centre les images verticalement */
    flex: 1; /* Utilise le même espace pour toutes les images */
  }
  
.imgt {
    max-width: 100%; /* Définir la taille des images ici */
    height: auto;
    width: 1000px;
    height :500px;
    margin: 10px; /* Définir les marges entre les images ici */
  }
.sprint {
    max-width: 50%;
}
#gedimat{
    margin-left: 20px;
}
h4{
    font-size: 30px;
}
